%%% Copyright (c) Meta Platforms, Inc. and affiliates.
%%% Copyright (c) WhatsApp LLC
%%%
%%% This source code is licensed under the MIT license found in the
%%% LICENSE.md file in the root directory of this source tree.
%%% % @format
{erl_opts, [debug_info]}.

{deps, []}.

{shell,
    % {config, "config/sys.config"},
    [{apps, [argo]}]}.

{ex_doc, [
    {source_url, <<"https://github.com/WhatsApp/erlang-argo">>},
    {extras, [
        <<"README.md">>,
        <<"LICENSE.md">>,
        <<"../../CHANGELOG.md">>,
        <<"../../CODE_OF_CONDUCT.md">>,
        <<"../../CONTRIBUTING.md">>
    ]},
    {main, <<"readme">>}
]}.

{hex, [{doc, ex_doc}]}.
