%%% % @format
%%%-----------------------------------------------------------------------------
%%% Copyright (c) Meta Platforms, Inc. and affiliates.
%%% Copyright (c) WhatsApp LLC
%%%
%%% This source code is licensed under the MIT license found in the
%%% LICENSE.md file in the root directory of this source tree.
%%%-----------------------------------------------------------------------------
{erl_opts, [debug_info]}.

{deps, [
    {argo, ">= 1.0", {pkg, argo_graphql}},
    {proper, "1.5.0"}
]}.

{shell,
    % {config, "config/sys.config"},
    [{apps, [argo, argo_test]}]}.

{project_plugins, [{rebar3_proper, "0.12.1"}]}.
